{% extends "base.html" %}

{% block content %}
    <h1>Home</h1>
    {% set has_recipes = False %}
    {% for user in users %}
        {% if user.recipes|length > 0 %}
            {% set has_recipes = True %}
            <h3>{{ user.username }}'s Recipes</h3>
            <ul>
                {% for recipe in user.recipes %}
                    <li>{{ recipe.title }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        
    {% endfor %}

    {% if not has_recipes %}
        <p>There are currently no recipes</p>
    {% endif %}

    {% if not users %}
        <p>There are currently no recipes</p>
    {% endif %}
{% endblock %}